<div id="olUserMainContainer">
    <table id="olUserStructure">
        <tbody>
            <tr>
                <td rowspan="2">
                    <img 
                        id    ="olUserImg" 
                        src   ="https://www.nicepng.com/png/full/202-2022264_usuario-annimo-usuario-annimo-user-icon-png-transparent.png" 
                        height="30px"
                        width ="30px"
                    />
                </td>
                <td>
                    <label id="olUserUsername">Cheru</label>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Ultimo Mensaje Escrito</p>
                </td>
            </tr>
        </tbody>
    </table>
    <img 
        id    ="olUserImg" 
        src   ="https://www.nicepng.com/png/full/202-2022264_usuario-annimo-usuario-annimo-user-icon-png-transparent.png" 
        height="30px"
        width ="30px"
    />
</div>    