<div class="container">
    <div class="row">
        <div class="col s7">
            <div class="card">
                <div class="card-content">
                    <form #messageForm="ngForm" (ngSubmit)="enviarMensaje(messageForm)">
                        <div id="chatHeaderContainer">
    
                            <img 
                                id    ="chatUsrImg" 
                                src   ="https://www.nicepng.com/png/full/202-2022264_usuario-annimo-usuario-annimo-user-icon-png-transparent.png" 
                                height="60px"
                                width ="60px"
                            />
                            &nbsp;
                            <label id="chatLblUsername" style="font-size: 12pt;">{{userService.selectedUser.userName}}</label>
                        </div>
                        <div id="chatMsgContainer" style="height: 500px; border: 2px;"></div>
                        <div id="chatMsgWriter">
                            <div class="card-action">
                                <div class="input-field col-s12" style="text-align: center; vertical-align: middle;">
                                    <!--<textarea id="chatTxtWritingMsg" rows="2" style="width: 300px;"></textarea>-->
                                    <textarea name=mensajeXenviar id="chatTxtWritingMsg" class="materialize-textarea" style="width: 300px;"></textarea>
                                    <label for="chatTxtWritingMsg">Mensaje</label>
                                    &nbsp;
                                    <img 
                                        id    ="chatEmojisBox" 
                                        src   ="http://icon-library.com/images/happy-icon-png/happy-icon-png-10.jpg" 
                                        height="40px"
                                        width ="40px"
                                    />
                                    &nbsp;
                                    <button 
                                        id="chatBtnSendMsg"
                                        type ="button"
                                        class="btn right">Send</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>