<div id="chatHeaderContainer">
    <button 
        id="chatBtnBackHome"
        type ="button"
        style="width:200px; height:35px; font-size:10pt">Main</button>
    &nbsp;&nbsp;&nbsp;
    <img 
        id    ="chatUsrImg" 
        src   ="https://www.nicepng.com/png/full/202-2022264_usuario-annimo-usuario-annimo-user-icon-png-transparent.png" 
        height="30px"
        width ="30px"
    />
    &nbsp;
    <label id="chatLblUsername">WlmFragoso</label>
</div>
<div id="chatMsgContainer"></div>
<div id="chatMsgWriter">
    &nbsp;
    <img 
        id    ="chatEmojisBox" 
        src   ="http://icon-library.com/images/happy-icon-png/happy-icon-png-10.jpg" 
        height="15px"
        width ="15px"
    />
    &nbsp;
    <textarea id="chatTxtWritingMsg" rows="2" style="width: 80%;"></textarea>
    &nbsp;
    <button 
        id="chatBtnSendMsg"
        type ="button"
        style="width:200px; height:35px; font-size:10pt">Send</button>
</div>