<div class="container">
    <div class="row">
        <div class="col s5">
            <div class="card">
                <div class="card-content">
                    <form #userForm="ngForm" (ngSubmit)="actualizarUsuario(userForm)">
                        <!--<input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="userService.lastQueriedUser.id">-->
                        <div class="row">
                            <div style="text-align: center;">
                                <img 
                                    id    ="usrImg" 
                                    src   ="https://www.nicepng.com/png/full/202-2022264_usuario-annimo-usuario-annimo-user-icon-png-transparent.png" 
                                    height="200px"
                                    width ="200px"
                                />
                            </div>
                            <div class="input-field col-s12">
                                Nombre de usuario
                                <br/>
                                <input name="userName" type="text" #name="ngModel" [(ngModel)]="userService.lastQueriedUser.userName" placeholder="Coloque nombre de usuario">
                            </div>
                            <div class="input-field col-s12">
                                Informaci&oacute;n
                                <br/>
                                <input name="info" type="text" #name="ngModel" [(ngModel)]="userService.lastQueriedUser.info" placeholder="Coloque informacion del usuario"> 
                            </div>
                            <div class="input-field col-s12">
                                Tel&eacute;fono
                                <br/>
                                <input name="phone" type="text" #name="ngModel" [(ngModel)]="userService.lastQueriedUser.phone" placeholder="Coloque telefono"> 
                            </div>
                            <div class="card-action">
                                <div class="input-field col-s12">
                                    <button class="btn right">Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>